#main img {
    /*Limit the height and width of the image
    (only in main part, not in header):*/
    width: 30%;
    height: auto;
    /*Center the image:*/
    margin-left: auto;
    margin-right: auto;
    display: block;
}
