body {
    font-family: 'Amiri';
    font-size: 16px;
    margin: 0;
    padding: 10px;
}


h1 { 
    color: #861; 
    font-size: 30px;
    text-align: center;
}
h2 { 
    color: #97926; 
    font-size: 26px;
    text-align: center;
}
h3 { 
    /*font-family: 'Aref Ruqaa';*/
    color: #4640c2; 
    font-size: 23px;
    text-align: center;
}
h4 { 
    /*font-family: 'Aref Ruqaa';*/
    color: #958427; 
    font-size: 20px;
    text-align: center;
}
h5 { 
    color: #1c201d; 
    font-size: 17px;
    text-align: center;
}
h6 { 
    color: #1c201d; 
    font-size: 16px;
    text-align: center;
}

.single-witness {
    width: 50vw;
    margin: auto;
}

p {
    word-wrap: break-word;
    white-space: wrap;
}

.quran {
    color: darkgreen;
}
.quran:before {
    content:"﴿";
}
.quran:after {
    content:"﴾";
}

.ref-link {
    color: grey;
    font-style: italic;
}
.reference-container {
    margin-top: 10px;
}
.ref-title {
    font-style: italic;
}


/* the header and horizontal menu bar: */

#menuToggle {
    display: flex;
    top: 2px;
    left: 2px;
    align-items: left;
    position: sticky;
    float: left;
    top: 0;
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}


#menu-bar {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    height: 40px;
    padding: 10px;
    margin-bottom: 10px;
}

#menu-bar a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 8px;
}

/* The sidebar menu (based on https://www.w3schools.com/howto/howto_js_collapse_sidebar.asp) */

#dashboard {
    /*height: 100%; /* 100% Full-height */
    width: 20%; /* 0 width - change this with JavaScript */
    /*position: fixed; /* Stay in place */
    position: sticky;
    float: left;
    top: 0;
    z-index: 10; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    unicode-bidi: embed;
    direction: ltr;
    
}

/* Position and style the close button (top right corner of the sidebar) */
.sidebar .closebtn {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 36px;
    margin-left: 50px;
}
  
/* The sidebar links */
.sidebar a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar ul {
    list-style-type: none; /* Remove bullets */
    padding: 8px 8px 8px 24px; /* Remove padding */
    margin: 0; /* Remove margins */
}

/* The button used to open the sidebar when it is not open */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #333;
    color: white;
    padding: 10px 15px;
    border: none;
    }

.openbtn:hover {
background-color: #444;
}

#pageContent {
    margin-left: 20%;
    padding-left: 10px;
    padding-right: 10px;
}

/* columns : */

.scrolling-wrapper {
    overflow-x: auto;
    //overflow-y: scroll;
    overflow-y: hidden;
    white-space: nowrap;              /* this keeps all cards on the same line*/
    width: 70vw;
    margin: auto;
}

.card {
    display: inline-block;            /* needed to keep all cards on the same line */
    width: 31vw;                      /* start with ca. 1/3 of the screen for the column width */
    resize:both;                      /* make the card resizable */
    overflow:auto;                    /* (this is necessary in combination with resize:both) */
    border-left: 1px solid grey;    /* acts as divider between the text fragments */
    position: relative;
    vertical-align:top;
    padding-left: 5px;
    padding-right: 5px;
}

.card-cb {
    float: right;
    margin-left: 10px;
    margin-top: 3px;
}

.index {
    vertical-align: top;
    display: inline-block;
}

.plus {
    display: inline-block;
    vertical-align: top;
    color: lightgreen;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    margin-top: -35px;
}


.hide {
    cursor: pointer;
    color: grey;
    font-style: italic;
}

.hidden {
    display: none;
}

/* Diff visualization: */

.added {
    background-color: lightblue;
}
.comment > p {
    unicode-bidi: embed;
    direction: ltr;
}
.reference > p {
    unicode-bidi: embed;
    direction: ltr;
}

.page-no {
    text-decoration: none;
}
.poetry-line {
    display: block;
}
.hemistich2:before {
    content: "\00a0 \00a0 \00a0 \00a0 ";
}
.wikEdDiffDelete {
    text-decoration: line-through;
    color: red;
}
/*.wikEdDiffSpaceSymbol {
    display: none;
}
.wikEdDiffSpace {
    display: none;
}*/
.wikEdDiffNewline {
    display: none;
}
